@import url(https://fonts.googleapis.com/css?family=Catamaran);html {
  font: 16px /1.5 'Catamaran', 'sans-serif';
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.clear {
  clear: both;
}

.columnLeft {
  margin: 20px 15px;
}

.columnLeft .navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 5px 40px;
  background-color: #0D9EFF;
}

.columnLeft .navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.columnLeft .navbar__item {
  font-size: 1.3rem;
  color: #EBE8EA;
  padding: 0 10px;
}

.columnLeft .search__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #0A78C2;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  border: 1px solid #0D9EFF;
}

.columnLeft .search__box::-webkit-input-placeholder {
  color: #BAB8BA;
}

.columnLeft .search__box:-ms-input-placeholder {
  color: #BAB8BA;
}

.columnLeft .search__box::-ms-input-placeholder {
  color: #BAB8BA;
}

.columnLeft .search__box::placeholder {
  color: #BAB8BA;
}

.columnLeft .createTuit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background-color: #0D9EFF;
  text-align: center;
}

.columnLeft .createTuit__imageContainer {
  text-align: center;
}

.columnLeft .createTuit__image {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.columnLeft .createTuit__imageSelect {
  max-width: 160px;
  margin-bottom: 10px;
  border: 1px solid #EBE8EA;
  border-radius: 3px;
  background-color: #EBE8EA;
  font-size: 0.8rem;
}

.columnLeft .createTuit__textarea {
  resize: vertical;
  width: 100%;
  border: none;
  border-left: 1px solid #0D9EFF;
  border-right: 1px solid #0D9EFF;
  font-size: 1rem;
  color: grey;
}

.columnLeft .createTuit__textarea::-webkit-input-placeholder {
  color: #BAB8BA;
}

.columnLeft .createTuit__textarea:-ms-input-placeholder {
  color: #BAB8BA;
}

.columnLeft .createTuit__textarea::-ms-input-placeholder {
  color: #BAB8BA;
}

.columnLeft .createTuit__textarea::placeholder {
  color: #BAB8BA;
}

.columnLeft .createTuit__button {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 3px solid #EBE8EA;
  border-radius: 51px;
  padding: 10px 0;
  background-color: #0D9EFF;
  color: #EBE8EA;
}

.columnLeft .createTuit__button:hover {
  border-color: #0A78C2;
  background-color: #0A78C2;
  color: #EBE8EA;
}

.boardTuits {
  margin: 15px;
}

.boardTuits__tuitImage {
  position: relative;
  top: 50px;
  left: 30px;
  width: 100px;
  height: 100px;
  border: 1px solid #0D9EFF;
  border-radius: 50%;
}

.boardTuits__tuitBorder {
  padding-top: 70px;
  border: 1px solid #0D9EFF;
}

.boardTuits__tuitQuote {
  margin: 0 10px;
  border-bottom: 1px solid grey;
  padding: 15px;
  background-color: #EBE8EA;
  -webkit-box-shadow: 2px 2px 5px #BAB8BA;
          box-shadow: 2px 2px 5px #BAB8BA;
}

.boardTuits__tuitFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 0 10px 20px 10px;
  padding: 15px;
  background-color: #EBE8EA;
  -webkit-box-shadow: 2px 2px 5px #BAB8BA;
          box-shadow: 2px 2px 5px #BAB8BA;
}

.boardTuits__item {
  color: grey;
  padding-right: 5px;
}

.boardTuits__trash {
  margin-left: auto;
  margin-right: 10px;
  color: #BAB8BA;
}

.boardTuits__heart:hover {
  text-shadow: 0 0 5px #AD0600;
}

.boardTuits__heart--liked {
  color: #AD0600;
}

@media (min-width: 576px) {
  .columnLeft {
    position: fixed;
    top: 95px;
    width: 30%;
  }

  .boardTuits {
    margin-left: 35%;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .columnLeft {
    position: fixed;
    max-width: 350px;
    margin-left: 30px;
  }

  .boardTuits {
    max-width: 650px;
    margin-left: 450px;
    margin-right: 50px;
  }
}

